body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#chat-container {
  max-width: 900px;
  min-width: 900px;
  max-height: 700px;
  box-shadow: 1px 1px 1px 1px gray;
  border: 1px solid black;
  padding: 0 5px;
}

#messages {
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
  border: 1px solid gray;
  margin: 3px;
}

#user-input {
  
}

#send-btn {
 border: 0;
 background-color: blue;
 color: white;
 box-shadow: none;
 border-radius: 0px;
 margin: 5px;
 padding: 5px;
}

.message {
  margin: 3px 0;
  color: gray;
}

@media (max-width: 900px) {
  #chat-container {
    max-width: 500px;
    min-width: 500px;
  }
}
